<div class="container">
  <div class="row">
    <div class="col-md-12 mb-3">
      <h3 class="mt-3">Make a post</h3>
    </div>
    <div class="col-md-12">
      <%= render "feed_post_form", posts: @posts %>
    </div>
    <div id="feed-container" class="col-md-12 mt-4 text-center">
      <%= render "shared/feed", posts: @posts %>
    <div>
    <div>
</div>
