<div class="row mt-3">
  <div class="col-12">
    <h1>Diver Report Form</h1>

    <%= render 'form', mortality_form: @mortality_form %>

    <%= link_to 'Back', mortality_forms_path %>
      </div>
  </div>
