<div class="col-md-8">
  <div class="col-md-6 text-center">
    <% posts.each do |post| %>
    <div class="card mb-4" style="width: 18rem;">
      <!-- <img class="card-img-top" src="..." alt="Card image cap"> -->
      <div class="card-body">
        <h5 class="card-title"><%= post.title %></h5>
        <p class="card-text"><%= post.content %></p>
      </div>
    </div>
    <% end %>
  </div>
</div>