/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in thiappllicaps directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @import "font-awesome";

td {
  font-size: 1.2em !important;
}

.space-between {
    display: flex;
    justify-content: space-between;
}

.trash-icon {
  color: #dc3545 !important;
  border-radius: 25%;
}

 th.rotate {
   /* Something you can count on */
   height: 100px;
   white-space: nowrap;
 }

 th.rotate > div {
   transform:
     /* Magic Numbers */
     translate(10px, 5px)
     /* 45 is really 360 - 45 */
     rotate(315deg);
   width: 30px;
 }
 th.rotate > div > span {
   padding: 5px 10px;
 }
