<div class="container">
  <div class="row">
    <div class="col-12 mt-5">
      <% @all_profiles.each do |profile| %>
      <%= link_to user_profile_path(id: profile.id) do %>
        <div class="profile-item text-center mr-3 mb-3">
          <img class="mt-3" src="https://loremflickr.com/320/240" />
          <h4 class=""><%= profile.full_name %></h4>
          <p>Description of profile will go here<p>
        </div>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
