<div class="container">
  <div class="row">
    <div class="col-md-12">
      <% @all_profiles.each do |profile| %>
      <%= profile.first_name %>
      <%= profile.last_name %>
      <% end %>
    </div>
  </div>
</div>

